/* Reset generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

.bg-container::before {
    content: "";
    position: fixed;
    top: 60px; /* Altezza della navbar */
    left: 0;
    width: 100%;
    height: calc(100vh - 60px); /* Copre tutto sotto la navbar */
    background: url('/static/images/background.jpg') center/cover no-repeat;
    z-index: -1; /* Lo manda dietro agli altri elementi */
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    text-align: center;
}

main h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #1DB954;
}

main p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
details summary {
    background-color: #1DB954;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

details[open] summary {
    background-color: #1ed760;
}

.playlist-analysis {
    background: #242424;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.playlist-analysis h6 {
    color: white;
}




