<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparazione Playlist</title>
</head>
<body>
    <h1>Comparazione Playlist</h1>
{% block content %}
    <h1>Confronto Playlist: {{ playlist1['name'] }} vs {{ playlist2['name'] }}</h1>

    <div>
        <h2>Grafico: Tracks in Common</h2>
        <div>{{ graphs['common_tracks']|safe }}</div>
    </div>

    <div>
        <h2>Grafico: Common Artists Frequency</h2>
        <div>{{ graphs['common_artists']|safe }}</div>
    </div>

    <div>
        <h2>Grafico: Average Popularity</h2>
        <div>{{ graphs['popularity']|safe }}</div>
    </div>

    <div>
        <h2>Grafico: Top Genres Distribution</h2>
        <div>{{ graphs['genres']|safe }}</div>
    </div>

    <div>
        <h2>Grafico: Release Year Distribution</h2>
        <div>{{ graphs['temporal']|safe }}</div>
    </div>
{% endblock %}
</body>
</html>
