<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>Spotify API</title>
    </head>
    <body>
    <nav>
        <div class="logo">Spotify App</div>
        <form class="search-form" action="{{ url_for('home.home') }}" method="POST">
            <input type="text" name="query" placeholder="Cerca playlist..." class="search-input">
            <button type="submit" class="search-btn">🔍</button>
        </form>
        <ul>
            <li><a href="{{ url_for('aboutus.about_us') }}">About Us</a></li>
            {% if session['token_info'] %}
                <li><a href="/playlist/{{ playlists['id'] }}">Le mie playlist</a></li>
                <div class="profile-dropdown">
                    <img src="{{ profile_pic_url }}" class="profile-pic" alt="Profile Image">
                    <div class="dropdown-menu">
                        <a href="{{ url_for('auth.logout') }}">Logout</a>
                    </div>
                </div>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}" class="login-btn">Login con Spotify</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% if session['token_info'] %}
            <h1>Benvenuto, {{ user_info["display_name"] }}!</h1>
            <p>Scopri la tua musica e le tue playlist preferite.</p>
            <a href="/playlist/{{ playlists['id'] }}" class="btn">Vai alle playlist</a>
            <br>
            {% if selected_playlist %}
                <h2>Playlist selezionata:</h2>
                <h3>{{ selected_playlist['name'] }}</h3>
                <p>Di {{ selected_playlist['owner']['display_name'] }}</p>
                <ul>
                    {% for track in selected_playlist['tracks']['items'] %}
                        <li>{{ track['track']['name'] }} - {{ track['track']['artists'][0]['name'] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% else %}
            <h1>Scopri la tua musica con Spotify</h1>
            <p>Accedi con Spotify per visualizzare le tue playlist e scoprire nuove canzoni!</p>
            <a href="{{ url_for('auth.login') }}" class="btn">Login con Spotify</a>
        {% endif %}

        {% if query %}
            <h2>Risultati per: "{{ query }}"</h2>
            <ul>
                {% for playlist in search_results %}
                    <li>
                        <a href="{{ url_for('home.visualizza_playlist', playlist_id=playlist['id']) }}">
                            {% if playlist.image %}
                                <img src="{{ playlist.image }}" alt="Cover" width="50">
                            {% endif %}
                            {{ playlist.name }} - di {{ playlist.owner }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
    </body>
</html>