<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>Spotify API</title>
    </head>
    <body>
    <nav>
        <div class="logo">Spotify App</div>
        <ul>
            <li><a href="/#">About Us</a></li>
            {% if session['access_token'] %}
                <li><a href="//playlist/{{ playlist['id'] }}">Le mie playlist</a></li>
                <li><a href="/profile"><img src="{{ session['profile_pic'] }}" alt="Profilo" class="profile-pic"></a></li>
                <li><a href="/logout" class="logout-btn">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}" class="login-btn">Login con Spotify</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% if session['access_token'] %}
            <h1>Benvenuto, {{ user_info["username"] }}!</h1>
            <p>Scopri la tua musica e le tue playlist preferite.</p>
            <a href="//playlist/{{ playlist['id'] }}" class="btn">Vai alle playlist</a>
        {% else %}
            <h1>Scopri la tua musica con Spotify</h1>
            <p>Accedi con Spotify per visualizzare le tue playlist e scoprire nuove canzoni!</p>
            <a href="{{ url_for('auth.login') }}" class="btn">Login con Spotify</a>
        {% endif %}
    </main>
    </body>
</html>